<div class="container">
	<h3> Review Details</h3>
	<p>Review Author <%=@tvreview.author %></p>
	<p>Product rating <%=@tvreview.rating %></p>
	<p>Review Content <%=@tvreview.content %></p>
	<p>Review Date <%=@tvreview.date %></p>
</div>