<div class="container">
	<h1 class="jumbotron-heading">Contact Sheffield E-Reviews</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<p>Use the form below to send us any enquiries you may have!</p>
		</div>	
		
		<div class="col">
			<p>We're always open to suggestions.</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
		<form id ="form">
			<fieldset>
				<legend>Enquiry form</legend>
				Name: <br>
				<input type="text" name="name" class="form-control"><br>
				Email: <br>
				<input type="email" name="email" class="form-control"><br>
				Enquiry: <br>
				<textarea name="enquiry" form="form" class="form-control">Enter text here... </textarea><br>
				<input type="submit">
			</fieldset>
		</form>	
		</div>	
</div>
</div>